<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to gitbook2pdf.online! -powered by @imfht</title>
    <link href="https://cdn.bootcss.com/bootswatch/4.3.1/litera/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div style="margin: 20px">
    <div class="jumbotron">
        <h1 class="display-3">Hey you!</h1>
        <p class="lead">This is convert gitbook page to pdf online. ;-D </p>
        <hr class="my-4">
        <p>Input gitbook url and email. We will send you PDF via email.</p>
        <p class="lead">
        <form class="form" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Gitbook URL </label>
                <input type="text" name="url" class="form-control" style="width: 400px"
                       placeholder="http://self-publishing.ebookchain.org"
                       value="http://self-publishing.ebookchain.org">
            </div>
            <div>
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" style="width: 400px">
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 10px">提交</button>
        </form>
        <small id="emailHelp" class="form-text text-muted">(We'll never share your email with anyone else.)</small>
        </p>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
